*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products {
    width: 1200px;
    margin: 2rem auto;
    text-align: center;
}

.product {
    display: inline-block;
    position: relative;
    margin: 1rem;
    position: relative;
}

.badge_discount {
    background-color: #EB0037;
    padding: 4px;
    font-size: 0.65rem;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
    left:0;
}

.badge_sostenibilità{
    background-color: #00875A;
    padding: 4px;
    font-size: 0.65rem;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
    left: 2.3rem;
}

.like {
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: absolute;
    right: 0;
    top: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 2rem;
}

img{
    width: 320px;
    height: 500px;
    object-fit: cover;
}

.hidden{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.product:hover .hidden{
    visibility: visible;
}
